logdata.txt
.settings/org.eclipse.core.resources.prefs
RaCuNi/__pycache__/__init__.cpython-36.pyc
RaCuNi/PyBook/__pycache__/__init__.cpython-36.pyc
RaCuNi/PyBook/lang/__pycache__/__init__.cpython-36.pyc
RaCuNi/PyBook/lang/__pycache__/lang.cpython-36.pyc
